<%- include('../../partials/header.ejs') %>
<body>
  <%- include('../../partials/navbar.ejs') %>
  <div class="container">
    <hr />
    <h2>Artigos</h2>
    <a class="btn btn-success" href="/admin/articles/new">Criar novo artigo</a>
    <hr />
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Titulo</th>
          <th>Slug</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% articles.forEach(article => { %>
        <tr>
          <th><%= article.id %></th>
          <th><%= article.title %></th>
          <th><%= article.slug %></th>
          <th><%= article.category.title %></th>
          <th>
            <a
              href="/admin/articles/edit/<%= article.id %>"
              class="btn btn-warning"
              >EDITAR</a
            >
            <form
              action="/articles/delete"
              method="post"
              class="d-inline delete"
              onsubmit="ConfirmDelete(event,this)"
            >
              <input type="hidden" name="id" value="<%= article.id %>" />
              <button class="btn btn-danger" type="submit">DELETAR</button>
            </form>
          </th>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</body>
<%- include('../../partials/footer.ejs') %>
<script>
  const ConfirmDelete = (e, form) => {
    e.preventDefault();

    const decision = confirm("Você quer deletar este artigo?");
    if (decision) {
      form.submit();
    }
  };
</script>
